-- Lead assignee + quote templates + deal quote status/template link

alter table if exists public.buy_interests
  add column if not exists assigned_to uuid references auth.users(id) on delete set null;

alter table if exists public.buy_interests
  add column if not exists assigned_at timestamptz;

create index if not exists idx_buy_interests_assigned_to on public.buy_interests(assigned_to);

create table if not exists public.crm_quote_templates (
  id uuid primary key default gen_random_uuid(),
  org_id uuid references public.organizations(id) on delete cascade,
  panorama_id bigint references public.panoramas(id) on delete cascade,
  name text not null default '',
  template_payload jsonb not null default '{}',
  is_default boolean not null default false,
  created_by uuid references auth.users(id) on delete set null,
  created_at timestamptz default now(),
  updated_at timestamptz default now()
);

create index if not exists idx_crm_quote_templates_org on public.crm_quote_templates(org_id);
create index if not exists idx_crm_quote_templates_panorama on public.crm_quote_templates(panorama_id);

alter table if exists public.crm_deal_quotes
  add column if not exists template_id uuid references public.crm_quote_templates(id) on delete set null;

alter table if exists public.crm_deal_quotes
  add column if not exists status text not null default 'draft';

do $$
begin
  if exists (
    select 1 from information_schema.columns
    where table_schema = 'public' and table_name = 'crm_deal_quotes' and column_name = 'status'
  ) then
    alter table public.crm_deal_quotes
      drop constraint if exists crm_deal_quotes_status_check;
    alter table public.crm_deal_quotes
      add constraint crm_deal_quotes_status_check
      check (status in ('draft', 'sent', 'accepted', 'rejected', 'superseded'));
  end if;
end $$;

create index if not exists idx_crm_deal_quotes_status on public.crm_deal_quotes(status);

update public.crm_deal_quotes q
set status = 'sent'
where (coalesce(q.shared_via, '') <> '' or q.sent_at is not null);
