<!doctype html>
<html
  lang="en"
  class="layout-menu-fixed layout-footer-fixed layout-compact"
  data-assets-path="/static/sneat/"
  data-template="vertical-menu-template-free">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Customer Dashboard - MarketoState</title>

    <meta name="description" content="" />

    <link rel="icon" href="/static/Marketostate/Marketostate%20Favicon.svg" type="image/svg+xml" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="/static/sneat/vendor/fonts/iconify-icons.css" />

    <link rel="stylesheet" href="/static/sneat/vendor/css/core.css" />
    <link rel="stylesheet" href="/static/sneat/css/demo.css" />

    <link rel="stylesheet" href="/static/sneat/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/static/css/sneat_sidebar_layout.css?v=20260619-3" />

    <link rel="stylesheet" href="/static/sneat/vendor/libs/apex-charts/apex-charts.css" />

    <link rel="stylesheet" href="/static/css/marketostate_brand_theme.css?v=20260619-3" />
    <script src="/static/js/marketostate_brand_theme_config.js?v=20260619-3"></script>
    <script src="/static/js/marketostate_brand_theme.js?v=20260619-3"></script>

    <script src="/static/sneat/vendor/js/helpers.js"></script>
    <script src="/static/sneat/js/config.js"></script>

    <script>
      (function () {
        try {
          var KEY = 'sneat_layout_menu_collapsed';
          if (window.localStorage.getItem(KEY) == null) window.localStorage.setItem(KEY, '1');
          if (window.localStorage.getItem(KEY) === '1' && window.innerWidth >= 1200) {
            document.documentElement.classList.add('layout-menu-collapsed');
          }
        } catch (e) {}
      })();
    </script>
  </head>

  <body>
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="/customer-dashboard" class="app-brand-link">
              <span class="app-brand-logo demo">
                <span class="text-primary">
                  <svg width="25" viewBox="0 0 25 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                      <path d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z" id="path-1"></path>
                      <path d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z" id="path-3"></path>
                      <path d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z" id="path-4"></path>
                      <path d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z" id="path-5"></path>
                    </defs>
                    <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                        <g id="Icon" transform="translate(27.000000, 15.000000)">
                          <g id="Mask" transform="translate(0.000000, 8.000000)">
                            <mask id="mask-2" fill="white"><use xlink:href="#path-1"></use></mask>
                            <use fill="currentColor" xlink:href="#path-1"></use>
                            <g id="Path-3" mask="url(#mask-2)">
                              <use fill="currentColor" xlink:href="#path-3"></use>
                              <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                            </g>
                            <g id="Path-4" mask="url(#mask-2)">
                              <use fill="currentColor" xlink:href="#path-4"></use>
                              <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                            </g>
                          </g>
                          <g id="Triangle" transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) ">
                            <use fill="currentColor" xlink:href="#path-5"></use>
                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </span>
              </span>
              <span class="app-brand-text demo menu-text fw-bold ms-2">MarketoState</span>
            </a>

          </div>

          <div class="menu-divider mt-0"></div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <li class="menu-item active">
              <a href="/customer-dashboard" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-smile"></i>
                <div class="text-truncate">Dashboard</div>
              </a>
            </li>

            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Workspace</span>
            </li>

            <li class="menu-item">
              <a href="/crm" class="menu-link">
                <i class="menu-icon tf-icons bx bx-briefcase-alt-2"></i>
                <div class="text-truncate">CRM</div>
              </a>
            </li>
            <li class="menu-item" data-broker-only>
              <a href="/broker/invites" class="menu-link">
                <i class="menu-icon tf-icons bx bx-envelope"></i>
                <div class="text-truncate">Invites</div>
              </a>
            </li>
            <li class="menu-item" data-client-admin-only style="display:none;">
              <a href="/client-management" class="menu-link">
                <i class="menu-icon tf-icons bx bx-group"></i>
                <div class="text-truncate">Manage Team</div>
              </a>
            </li>
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Account</span>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link" id="menu-signout">
                <i class="menu-icon tf-icons bx bx-power-off"></i>
                <div class="text-truncate">Sign Out</div>
              </a>
            </li>
          </ul>
          <a href="javascript:void(0);" class="sneat-menu-collapse-toggle menu-link text-large" id="sneat-layout-menu-toggle" aria-label="Toggle menu">
            <i class="bx bx-chevron-left d-block align-middle"></i>
          </a>
        </aside>

        <div class="layout-page">
          <nav
            class="layout-navbar container-xxl navbar-detached navbar navbar-expand-xl align-items-center bg-navbar-theme"
            id="layout-navbar">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
                <i class="icon-base bx bx-menu icon-md"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center justify-content-end" id="navbar-collapse">
              <div class="navbar-nav align-items-center me-auto">
                <div class="nav-item d-flex align-items-center">
                  <span class="w-px-22 h-px-22"><i class="icon-base bx bx-search icon-md"></i></span>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none ps-1 ps-sm-2 d-md-block d-none"
                    placeholder="Search clients..."
                    aria-label="Search clients..."
                    id="navbar-client-search" />
                </div>
              </div>

              <ul class="navbar-nav flex-row align-items-center ms-md-auto">
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <span class="avatar-initial rounded-circle bg-label-primary" id="navbar-user-avatar">--</span>
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <span class="avatar-initial rounded-circle bg-label-primary" id="navbar-user-avatar-2">--</span>
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <h6 class="mb-0" id="navbar-user-name">User</h6>
                            <small class="text-body-secondary" id="navbar-user-role">User</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li><div class="dropdown-divider my-1"></div></li>
                    <li data-broker-only>
                      <a class="dropdown-item" href="/broker/invites">
                        <i class="icon-base bx bx-envelope icon-md me-3"></i><span>Invites</span>
                      </a>
                    </li>
                    <li data-client-admin-only style="display:none;">
                      <a class="dropdown-item" href="/client-management">
                        <i class="icon-base bx bx-group icon-md me-3"></i><span>Manage Team</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/crm">
                        <i class="icon-base bx bx-briefcase-alt-2 icon-md me-3"></i><span>Open CRM</span>
                      </a>
                    </li>
                    <li><div class="dropdown-divider my-1"></div></li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);" id="dropdown-signout">
                        <i class="icon-base bx bx-power-off icon-md me-3"></i><span>Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>

          <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-xxl-8 mb-6 order-0">
                  <div class="card">
                    <div class="d-flex align-items-start row">
                      <div class="col-sm-8">
                        <div class="card-body">
                          <h5 class="card-title text-primary mb-3" id="welcome-headline">Welcome back!</h5>
                          <p class="mb-6" id="welcome-subtitle">
                            Track your allotted clients, projects and leads in one place.
                          </p>
                          <a href="/crm" class="btn btn-sm btn-outline-primary">Open CRM</a>
                        </div>
                      </div>
                      <div class="col-sm-4 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-6">
                          <div class="d-flex align-items-center justify-content-center" style="height:175px;">
                            <span class="avatar avatar-xl">
                              <span class="avatar-initial rounded-circle bg-label-primary" id="hero-avatar" style="font-size:2rem;">--</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xxl-4 col-lg-12 col-md-4 order-1">
                  <div class="row">
                    <div class="col-lg-6 col-md-12 col-6 mb-6">
                      <div class="card h-100">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between mb-4">
                            <div class="avatar flex-shrink-0">
                              <span class="avatar-initial rounded bg-label-primary">
                                <i class="icon-base bx bx-buildings"></i>
                              </span>
                            </div>
                          </div>
                          <p class="mb-1" id="kpi-primary-label">Clients</p>
                          <h4 class="card-title mb-3" id="kpi-clients">0</h4>
                          <small class="text-body-secondary fw-medium" id="kpi-primary-subtitle">Allotted to you</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-6 mb-6">
                      <div class="card h-100">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between mb-4">
                            <div class="avatar flex-shrink-0">
                              <span class="avatar-initial rounded bg-label-primary">
                                <i class="icon-base bx bx-map"></i>
                              </span>
                            </div>
                          </div>
                          <p class="mb-1" id="kpi-secondary-label">Projects</p>
                          <h4 class="card-title mb-3" id="kpi-projects">0</h4>
                          <small class="text-body-secondary fw-medium" id="kpi-secondary-subtitle">Across clients</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-8 col-lg-12 col-xxl-4 order-3 order-md-2">
                  <div class="row">
                    <div class="col-6 mb-6">
                      <div class="card h-100">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between mb-4">
                            <div class="avatar flex-shrink-0">
                              <span class="avatar-initial rounded bg-label-warning">
                                <i class="icon-base bx bx-target-lock"></i>
                              </span>
                            </div>
                          </div>
                          <p class="mb-1" id="kpi-tertiary-label">Leads</p>
                          <h4 class="card-title mb-3" id="kpi-leads">0</h4>
                          <small class="text-body-secondary fw-medium" id="kpi-tertiary-subtitle">From your interests</small>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 mb-6">
                      <div class="card h-100">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between mb-4">
                            <div class="avatar flex-shrink-0">
                              <span class="avatar-initial rounded bg-label-secondary">
                                <i class="icon-base bx bx-user"></i>
                              </span>
                            </div>
                          </div>
                          <p class="mb-1" id="kpi-quaternary-label">Contacts</p>
                          <h4 class="card-title mb-3" id="kpi-contacts">0</h4>
                          <small class="text-body-secondary fw-medium" id="kpi-quaternary-subtitle">Unique contacts</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-xxl-8 order-2 order-md-3 order-xxl-2 mb-6">
                  <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                      <div class="card-title mb-0">
                        <h5 class="m-0 me-2" id="clients-title">Your Clients</h5>
                        <p class="card-subtitle text-body-secondary mb-0" id="clients-subtitle">All client groups allotted to you</p>
                      </div>
                      <a href="/crm" class="btn btn-sm btn-primary">Open CRM</a>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive text-nowrap">
                        <table class="table table-borderless">
                          <thead id="clients-thead">
                            <tr>
                              <th>Client</th>
                              <th>Role</th>
                              <th class="text-end">Projects</th>
                              <th class="text-end">Leads</th>
                              <th class="text-end">Contacts</th>
                            </tr>
                          </thead>
                          <tbody id="clients-tbody">
                            <tr><td colspan="5" class="text-center text-body-secondary py-6">Loading...</td></tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-backdrop fade"></div>
          </div>
        </div>
      </div>

      <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <script src="/static/sneat/vendor/libs/jquery/jquery.js"></script>
    <script src="/static/sneat/vendor/libs/popper/popper.js"></script>
    <script src="/static/sneat/vendor/js/bootstrap.js"></script>
    <script src="/static/sneat/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/static/sneat/vendor/js/menu.js"></script>
    <script src="/static/sneat/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="/static/sneat/js/main.js"></script>

    <script src="/static/js/supabase.min.js"></script>
    <script>
      window.__SUPABASE_URL__ = {{ (supabase_url or '')|tojson }};
      window.__SUPABASE_ANON_KEY__ = {{ (supabase_anon_key or '')|tojson }};
    </script>
    <script>
      (function () {
        var yearEl = document.getElementById('footer-year');
        if (yearEl) yearEl.textContent = new Date().getFullYear();

        var url = window.__SUPABASE_URL__;
        var key = window.__SUPABASE_ANON_KEY__;
        if (!url || !key || !window.supabase) {
          window.location.replace('/login');
          return;
        }
        if (!window._supabase) {
          window._supabase = window.supabase.createClient(url, key);
        }

        function waitForAuthSession(maxAttempts, delayMs) {
          var sb = window._supabase;
          if (!sb || !sb.auth || typeof sb.auth.getSession !== 'function') return Promise.resolve(null);
          var remaining = Number(maxAttempts || 0);
          function readSession() {
            return sb.auth.getSession().then(function (r) {
              return (r && r.data && r.data.session) ? r.data.session : null;
            }).catch(function () { return null; });
          }
          function step() {
            return readSession().then(function (session) {
              if (session) return session;
              remaining -= 1;
              if (remaining <= 0) return null;
              return new Promise(function (resolve) { setTimeout(resolve, Number(delayMs || 220)); }).then(step);
            });
          }
          return step();
        }

        function ensureAuthenticated() {
          return waitForAuthSession(12, 220).then(function (session) {
            if (!session || !session.access_token) throw new Error('Not authenticated');
            return { Authorization: 'Bearer ' + session.access_token, 'Content-Type': 'application/json' };
          });
        }

        function api(path, opts) {
          return ensureAuthenticated().then(function (headers) {
            var merged = Object.assign({ headers: headers }, opts || {});
            merged.headers = Object.assign({}, headers, (opts && opts.headers) || {});
            return fetch(path, merged);
          });
        }

        function esc(s) {
          return String(s == null ? '' : s)
            .replace(/&/g, '&amp;')
            .replace(/</g, '&lt;')
            .replace(/>/g, '&gt;')
            .replace(/"/g, '&quot;')
            .replace(/'/g, '&#39;');
        }

        function initials(name) {
          var text = String(name || '').trim();
          if (!text) return '--';
          var parts = text.split(/\s+/).filter(Boolean);
          return (((parts[0] || '')[0] || '') + ((parts[1] || '')[0] || (parts[0] || '')[1] || '')).toUpperCase();
        }

        function setText(id, value) {
          var el = document.getElementById(id);
          if (el) el.textContent = value;
        }

        function setVisible(selector, visible) {
          document.querySelectorAll(selector).forEach(function (el) {
            el.style.display = visible ? '' : 'none';
          });
        }

        function roleName(role) {
          var normalized = String(role || '').trim().toLowerCase();
          if (normalized === 'client_admin') return 'Client Admin';
          if (normalized === 'broker') return 'Broker';
          return normalized ? normalized.charAt(0).toUpperCase() + normalized.slice(1) : 'User';
        }

        function configureDashboard(isClientAdmin) {
          setVisible('[data-broker-only]', !isClientAdmin);
          setVisible('[data-client-admin-only]', isClientAdmin);
          var search = document.getElementById('navbar-client-search');
          if (isClientAdmin) {
            document.title = 'Client Admin Dashboard - MarketoState';
            setText('welcome-subtitle', 'Track group-wide plots, interests and contacts in one place.');
            setText('kpi-primary-label', 'Sold Plots');
            setText('kpi-primary-subtitle', 'Across your client groups');
            setText('kpi-secondary-label', 'Pending Plots');
            setText('kpi-secondary-subtitle', 'Reserved or on hold');
            setText('kpi-tertiary-label', 'Total Interests');
            setText('kpi-tertiary-subtitle', 'Across your client groups');
            setText('kpi-quaternary-label', 'Contacts');
            setText('kpi-quaternary-subtitle', 'Unique interested contacts');
            setText('clients-title', 'Client Portfolio');
            if (search) search.placeholder = 'Search client groups...';
            var adminHead = document.getElementById('clients-thead');
            if (adminHead) {
              adminHead.innerHTML =
                '<tr>' +
                  '<th>Client</th>' +
                  '<th>Role</th>' +
                  '<th class="text-end">Projects</th>' +
                  '<th class="text-end">Sold</th>' +
                  '<th class="text-end">Pending</th>' +
                  '<th class="text-end">Interests</th>' +
                '</tr>';
            }
          }
        }

        function renderProfile(profile, isClientAdmin) {
          var fallbackName = isClientAdmin ? 'Client Admin' : 'Broker';
          var displayName = String((profile && (profile.display_name || profile.name || profile.email)) || fallbackName).trim() || fallbackName;
          var roleLabel = isClientAdmin ? 'Client Admin' : roleName((profile && profile.role) || 'broker');
          var first = displayName.split(/\s+/)[0] || displayName;
          setText('welcome-headline', 'Welcome back, ' + first + '!');
          setText('navbar-user-name', displayName);
          setText('navbar-user-role', roleLabel);
          var letters = initials(displayName);
          setText('navbar-user-avatar', letters);
          setText('navbar-user-avatar-2', letters);
          setText('hero-avatar', letters);
        }

        function renderClients(rows, isClientAdmin) {
          var tbody = document.getElementById('clients-tbody');
          if (!tbody) return;
          if (!rows || !rows.length) {
            var colspan = isClientAdmin ? 6 : 5;
            tbody.innerHTML = '<tr><td colspan="' + colspan + '" class="text-center text-body-secondary py-6">No client groups available yet.</td></tr>';
            setText('clients-subtitle', 'No client groups available yet');
            setText('kpi-clients', '0');
            setText('kpi-projects', '0');
            setText('kpi-leads', '0');
            setText('kpi-contacts', '0');
            return;
          }
          var totals = { projects: 0, interests: 0, contacts: 0, sold: 0, pending: 0 };
          tbody.innerHTML = rows.map(function (row) {
            var name = row.client_name || row.client_id || '-';
            var role = row.member_role || 'broker';
            var p = Number(row.project_count || 0);
            var l = Number(row.interest_count || row.lead_count || 0);
            var c = Number(row.contact_count || 0);
            var sold = Number(row.sold_plot_count || 0);
            var pending = Number(row.pending_plot_count || 0);
            totals.projects += p;
            totals.interests += l;
            totals.contacts += c;
            totals.sold += sold;
            totals.pending += pending;
            var metricCells = isClientAdmin
              ? '<td class="text-end">' + p + '</td>' +
                '<td class="text-end">' + sold + '</td>' +
                '<td class="text-end">' + pending + '</td>' +
                '<td class="text-end">' + l + '</td>'
              : '<td class="text-end">' + p + '</td>' +
                '<td class="text-end">' + l + '</td>' +
                '<td class="text-end">' + c + '</td>';
            return '<tr>' +
              '<td>' +
                '<div class="d-flex align-items-center">' +
                  '<div class="avatar avatar-sm me-3"><span class="avatar-initial rounded-circle bg-label-primary">' + esc(initials(name)) + '</span></div>' +
                  '<div><h6 class="mb-0">' + esc(name) + '</h6></div>' +
                '</div>' +
              '</td>' +
              '<td><span class="badge bg-label-secondary">' + esc(roleName(role)) + '</span></td>' +
              metricCells +
            '</tr>';
          }).join('');
          setText('kpi-clients', String(isClientAdmin ? totals.sold : rows.length));
          setText('kpi-projects', String(isClientAdmin ? totals.pending : totals.projects));
          setText('kpi-leads', String(totals.interests));
          setText('kpi-contacts', String(totals.contacts));
          setText(
            'clients-subtitle',
            rows.length + ' client group' + (rows.length === 1 ? '' : 's') +
              (isClientAdmin ? ' under your administration' : ' allotted to you')
          );
        }

        function loadClients(isClientAdmin) {
          return api('/api/crm/allotted-clients').then(function (response) {
            return response.json().catch(function () { return []; }).then(function (data) {
              if (!response.ok) throw new Error((data && data.error) || 'Failed to load clients');
              renderClients(Array.isArray(data) ? data : [], isClientAdmin);
            });
          }).catch(function () {
            renderClients([], isClientAdmin);
          });
        }

        function bindSignout() {
          function signOut() {
            var sb = window._supabase;
            var finish = function () { window.location.href = '/login'; };
            if (sb && sb.auth && typeof sb.auth.signOut === 'function') {
              Promise.resolve(sb.auth.signOut()).catch(function () {}).finally(finish);
            } else {
              finish();
            }
          }
          var a = document.getElementById('menu-signout');
          var b = document.getElementById('dropdown-signout');
          if (a) a.addEventListener('click', signOut);
          if (b) b.addEventListener('click', signOut);
        }

        api('/api/crm/me').then(function (response) {
          return response.json().catch(function () { return {}; }).then(function (data) {
            if (!response.ok) throw new Error((data && data.error) || 'Failed to load profile');
            var isBrokerUser = !!(data && (data.is_broker || String(data.role || '') === 'broker'));
            var isClientAdmin = !!(data && data.is_client_admin);
            try { window.localStorage.setItem('sneat_is_broker', isBrokerUser ? '1' : '0'); } catch (e) {}
            if (!isBrokerUser && !isClientAdmin) {
              window.location.replace('/crm');
              return;
            }
            configureDashboard(isClientAdmin);
            renderProfile(data || {}, isClientAdmin);
            bindSignout();
            return loadClients(isClientAdmin);
          });
        }).catch(function () {
          window.location.replace('/login');
        });
      })();
    </script>
    <script src="/static/js/sneat_menu_toggle.js?v=20260619"></script>
  </body>
</html>

