<header class="crm-broker-header" id="crm-broker-header" style="display:none;">
    <button class="crm-broker-header-signout" id="crm-broker-header-signout" type="button">Sign Out</button>
    <a class="crm-broker-header-brand" href="/crm" aria-label="MarketoState">MarketoState</a>
    <div class="crm-broker-account" id="crm-broker-account">
        <button class="crm-broker-user-btn" id="crm-broker-user-btn" type="button" aria-label="Account menu">
            <span class="crm-broker-avatar" id="crm-broker-avatar">--</span>
            <span class="crm-broker-name" id="crm-broker-name"></span>
        </button>
        <div class="crm-broker-dropdown" id="crm-broker-dropdown">
            <a class="crm-broker-dropdown-item" href="/broker/invites" id="crm-broker-invites">Invites</a>
            <button class="crm-broker-dropdown-item" id="crm-broker-change-password" type="button">Change Password</button>
        </div>
    </div>
</header>
