<div class="crm-tabs-account nav-item navbar-dropdown dropdown-user dropdown">
  <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-strategy="fixed" aria-expanded="false">
    <div class="avatar avatar-online">
      <span class="avatar-initial rounded-circle bg-label-primary" id="navbar-user-avatar">--</span>
    </div>
  </a>
  <ul class="dropdown-menu dropdown-menu-end">
    <li>
      <a class="dropdown-item" href="javascript:void(0);">
        <div class="d-flex">
          <div class="flex-shrink-0 me-3">
            <div class="avatar avatar-online">
              <span class="avatar-initial rounded-circle bg-label-primary" id="navbar-user-avatar-2">--</span>
            </div>
          </div>
          <div class="flex-grow-1">
            <h6 class="mb-0" id="navbar-user-name">User</h6>
            <small class="text-body-secondary" id="navbar-user-role">Member</small>
          </div>
        </div>
      </a>
    </li>
    <li><div class="dropdown-divider my-1"></div></li>
    <li>
      <a class="dropdown-item" href="/customer-dashboard" id="sneat-dropdown-dashboard">
        <i class="icon-base bx bx-home-smile icon-md me-3"></i><span>Dashboard</span>
      </a>
    </li>
    <li id="sneat-dropdown-invites-wrap" style="display:none;">
      <a class="dropdown-item" href="/broker/invites">
        <i class="icon-base bx bx-envelope icon-md me-3"></i><span>Invites</span>
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="/crm">
        <i class="icon-base bx bx-briefcase-alt-2 icon-md me-3"></i><span>CRM</span>
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="javascript:void(0);" id="dropdown-change-password">
        <i class="icon-base bx bx-lock-alt icon-md me-3"></i><span>Change Password</span>
      </a>
    </li>
    <li><div class="dropdown-divider my-1"></div></li>
    <li>
      <a class="dropdown-item" href="javascript:void(0);" id="dropdown-signout">
        <i class="icon-base bx bx-power-off icon-md me-3"></i><span>Log Out</span>
      </a>
    </li>
  </ul>
</div>
